<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simplelife</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-brand">
                        <a href="#">
                            Simplelife
                        </a>
                    </li>
                    <li>
                        @Html.ActionLink("Заметки", "Index", "Notes")
                        <ul class="list-unstyled">
                            <li class="category"><a href="#">Категории</a><a href="#" class="add-category">+</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Другой раздел сайта</a>
                    </li>
                    <li>
                        <a href="#">Другой раздел сайта</a>
                    </li>
                    <li>
                        <a href="#">Другой раздел сайта</a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <li><a href="javascript:document.getElementById('logoutForm').submit()" id="logout">Log off</a></li>
                        }
                    }
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                @RenderBody()
                <hr />
            </div>
        </div>
    <!-- /#page-content-wrapper -->
    }
    else
    {
        <div id="page-content-wrapper">
            @RenderBody()
            <hr />
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
